<div id="form-submit" class="form-group">
  <%= cp.full_div add_class: locals[:div_class] || cp.label_gap_class do %>
    <%= cp.submit_btn locals.reject { |k,v| k.to_s.in? %w( secondary_action div_class ) }, add_class: "btn-lg" %>
    <% if locals[:secondary_action].present? %>
      <%= locals[:secondary_action] %>
    <% elsif locals[:secondary_action] != false %>
      <%= cp.cancel_link(add_class: "secondary-link") %>
    <% end %>
  <% end %>
</div>
