# application
ENV["ADMIN_PASSPHRASE"]   = "admin" # example
ENV["ADMIN_IP_ADDRESSES"] = ""
# gmail
ENV["GMAIL_USERNAME"] = "gmail-username@gmail.com"
ENV["GMAIL_PASSWORD"] = "gmail-password"
ENV["GMAIL_FROM"]     = %Q["Gmail User" <gmail-username@gmail.com>]
# production database
ENV["PRODUCTION_DATABASE_HOST"]     = "production.database.domain"
ENV["PRODUCTION_DATABASE_USERNAME"] = "production-username"
ENV["PRODUCTION_DATABASE_PASSWORD"] = "production-password"
# development database
ENV["DEVELOPMENT_DATABASE_HOST"]     = "localhost"
ENV["DEVELOPMENT_DATABASE_USERNAME"] = "development-username"
ENV["DEVELOPMENT_DATABASE_PASSWORD"] = "development-password"
if defined?(Rails) && Rails.env.production?
  ENV["DATABASE_HOST"]     = ENV["PRODUCTION_DATABASE_HOST"]
  ENV["DATABASE_USERNAME"] = ENV["PRODUCTION_DATABASE_USERNAME"]
  ENV["DATABASE_PASSWORD"] = ENV["PRODUCTION_DATABASE_PASSWORD"]
else
  ENV["DATABASE_HOST"]     = ENV["DEVELOPMENT_DATABASE_HOST"]
  ENV["DATABASE_USERNAME"] = ENV["DEVELOPMENT_DATABASE_USERNAME"]
  ENV["DATABASE_PASSWORD"] = ENV["DEVELOPMENT_DATABASE_PASSWORD"]
end
# spacebattles
ENV["SB_USERNAME"] = "sb-username"
ENV["SB_PASSWORD"] = "sb-password"
# sufficientvelocity
ENV["SV_USERNAME"] = "sv-username"
ENV["SV_PASSWORD"] = "sv-password"
# questionablequesting
ENV["QQ_USERNAME"] = "qq-username"
ENV["QQ_PASSWORD"] = "qq-password"
