# application
ENV["ADMIN_IP"] = "1.2.3.4"
# gmail
ENV["GMAIL_USERNAME"] = "gmail-username@gmail.com"
ENV["GMAIL_PASSWORD"] = "gmail-password"
ENV["GMAIL_FROM"]     = %Q["Gmail Username" <gmail-username@gmail.com>]
# database
if Rails.env.production?
  ENV["DATABASE_HOST"]     = "aws-database.domain"
  ENV["DATABASE_USERNAME"] = "aws-username"
  ENV["DATABASE_PASSWORD"] = "aws-password"
else
  ENV["DATABASE_HOST"]     = "localhost"
  ENV["DATABASE_USERNAME"] = "local-username"
  ENV["DATABASE_PASSWORD"] = "local-password"
end
# spacebattles
ENV["SB_USERNAME"] = "sb-username"
ENV["SB_PASSWORD"] = "sb-password"
# sufficientvelocity
ENV["SV_USERNAME"] = "sv-username"
ENV["SV_PASSWORD"] = "sv-password"
# questionablequesting
ENV["QQ_USERNAME"] = "qq-username"
ENV["QQ_PASSWORD"] = "qq-password"
