# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a65c270ee4c9303499935e3352f453b8de297140817018e3562a4e06fa9cef4d93431099fa9e1071a87bc0130c8c155d37a98049edb50720561750e5d303e2f6

test:
  secret_key_base: f9562ea2edd68e7f64a078043248dfe6b18e58791643169efc8bf4ec5754582accbb5154520141ab43e8e2bce27852f5e3389dd26632ad190bc15d845abb0e9e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
