// searchable-table
#stories-searchable-table-container {
  min-height: 550px;
}

#stories-searchable-table {
  tbody.filters {
    #filters-info-modal-toggle {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
    .details    { width: 1px;  min-width: 1px;  max-width: 1px;  }
    .rating     { width: 85px; min-width: 85px; max-width: 85px; }
    .word_count { width: 85px; min-width: 85px; max-width: 85px; }
  }
  tbody.sorters {
    .details {
      text-align: center;
    }
    .story_updated_at {
      width: 1px; min-width: 1px;
      @media (max-width: $screen-sm-max) { text-align: center; }
    }
  }
  tbody.rows {
    .details a {
      text-decoration: none;
    }
    .story_updated_at {
      white-space: nowrap;
    }
  }
}

// story_filter
div.story_filter {
  // expand over multiple colspan
  width: 100%;
  ul.dropdown-menu {
    li {
      white-space: nowrap;
      // force labels to span entire ul to catch clicks
      > a.radio, a.checkbox {
        margin: 0px;
        padding: 0px;
        label {
          display: block;
          padding: 3px 20px 3px 40px;
          input[type=radio], input[type=checkbox] {
            position: relative;
            vertical-align: middle;
            margin: -1px 0px 0px -20px;
          }
        }
      }
      // force labels to span entire ul to catch clicks
      > div.input {
        padding: 0px 20px 0px 20px;
        input { border-radius: $input-border-radius; }
      }
    }
  }
}
