// searchable-table
table.searchable {
  tbody.filters {
    td.details    { width: 1px;  max-width: 1px;  min-width: 1px; }
    td.word_count { width: 85px;  min-width: 85px;  max-width: 85px; }
  }
  tbody.sorters {
    td.details {
      text-align: center;
    }
    td.story_updated_at {
      width: 1px; min-width: 1px;
      @media (max-width: $screen-sm-max) { text-align: center; }
    }
  }
  tbody.rows {
    td.story_updated_at { white-space: nowrap; }
    td.word_count { text-align: center; }
  }
}
