// searchable-table
table.searchable {
  tr.filters {
    td.details { width: 70px; }
    td.story_updated_at { width: 150px; }
    td.word_count { width: 85px; min-width: 85px; }
    td.author { max-width: 120px; }
  }
}
