.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome Icons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

.icon-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
  animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// http://fontawesome.io/icons
.icon-filter  { &:before { content: "\f0b0"; } font-family: "FontAwesome Icons"; top: 0 !important; }
.icon-refresh { &:before { content: "\f021"; } font-family: "FontAwesome Icons"; top: 0 !important; }
.icon-ban     { &:before { content: "\f05e"; } font-family: "FontAwesome Icons"; top: 0 !important; }
.icon-chevron-up   { &:before { content: "\f077"; } font-family: "FontAwesome Icons"; top: 0 !important; }
.icon-chevron-down { &:before { content: "\f078"; } font-family: "FontAwesome Icons"; top: 0 !important; }
